body {
    background: hsl(255,60%,60%);
    padding: 150px 0px 0px 150px;
    margin: 0 auto;
    width: 1440px;
}

header {
    width: 80%;
    height: 615px;
    background: black;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

h1 {
    text-align: center;
    position: absolute;
    margin-top: -88px;
    font-weight: bold;
    font-size: 35px;
    color: hsl(255,60%,60%);
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    width: 30%;
    padding: 40px 0px 0px 0px;
    line-height: 1.5;
    background: hsl(255,95%,95%);
    border-radius: 15px;
    height: 135px;
}

.blocoCabecalho {
    display: flex;
    color: hsl(255,95%,95%);
    font-family: sans-serif;
    font-style: italic;
    box-sizing: border-box;
    width: 60%;
    padding: 25px;
    line-height: 1.5;
    background: hsl(255,60%,60%);
    margin-top: 90px;
}

.paragrafoCabecalho {
    margin-top: 15px;
}

table {
    font-family: sans-serif;
    text-align: center;
    width: 60%;
    margin: 20px 0 40px;
}

thead {
    text-transform: uppercase;
    background: hsl(255,95%,95%);
    color: hsl(255,60%,60%);
    font-weight: bold;
}

td {

    text-transform: uppercase;
    background: hsl(255,60%,60%);
    color: hsl(255,95%,95%);
    border: 2px solid #000000;
    padding: 8px 15px;
}

th {
    
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 8px 15px;
}

.blocoPrincipal {
    position: absolute;
    margin: -500px 0px 0px 800px;
    width: 220px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 8px 15px;
    align-items: right;
    color: hsl(255,95%,95%);
}

.blocoInput {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 610px;
    border-radius: 15px;
    background: black;
}

.peso {
    text-align: center;
    color: hsl(255,60%,60%);
    font-size: 45px;
    width: 100px;
    height: 50px;
    background: hsl(255,95%,95%);
    border-radius: 5px;
}

.altura {
    text-align: center;
    color: hsl(255,60%,60%);
    font-size: 45px;
    width: 100px;
    height: 50px;
    background: hsl(255,95%,95%);
    border-radius: 5px;
}

li {
    padding: 10px;
}

h2 {
    margin-bottom: 20px;
    color: hsl(255,95%,95%);
    font-size: 25px;
}

.botaoResultado {
    margin: 0px 25px;
    text-align: center;
    background: hsl(255,60%,60%);
    color:hsl(255,95%,95%);
    font-size: 25px;
    width: 140px;
    height: 50px;
    border-radius: 10px;
}


.resultadoImc {
    align-items: center;
    color: hsl(255,60%,60%);
    font-size: 45px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 100px 10px 100px 10px;
    background: hsl(255,95%,95%);
    border-radius: 15px;
    margin: 15px;

}