body {
    background: black;
}

.containerPrincipal {
    display: flex;
    justify-content: center;
}

.blocoPrincipal {
    font-family: sans-serif;
    width: 800px;
    height: 800px;
    background: url("fundo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
    box-sizing: border-box;
    border: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 80px;
} 

.blocoInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    height: 400px;
    border-radius: 20px;
    background: rgba(20,20,20,0.8);
    align-items: center;
}

h2 {
    color: white;
    font-size: 35px;
    font-weight: 800;
}

.peso {
    font-size: 30px;
    width: 25%;
    height: 60px;
}

.altura {
    font-size: 30px;
    width: 25%;
    height: 60px;
}

.botaoResultado {
    color: white;
    font-size: 25px;
    font-weight: 500px;
    background: orange;
}

.resultadoImc {
    font-size: 35px;
    font-weight: 800;
    color: white;
}